@charset 'UTF-8';
@use "./variable" as v;
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: v.$fontRoman;
  color: #333;
}
// .is-menuOpen {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
// }
.pc-only {
  display: block;
  @include v.sm {
    display: none;
  }
}
.sp-only {
  display: none;
  @include v.sm {
    display: block;
  }
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  @include v.sm {
    padding: 0 10px;
  }
}
.sec-ttl {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  @include v.sm {
    font-size: 42px;
  }
  ruby[data-ruby] {
    display: flex;
    flex-direction: column-reverse;
    &::before {
      content: attr(data-ruby);
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.1em;
      font-style: italic;
      text-align: center;
      @include v.sm {
        font-size: 14px;
      }
    }
  }
}

.service,
.policy,
.company,
.profile,
.contact,
.law,
.agreement,
.consul {
  .mv {
    height: 40vh;
    background: url("../../images/webp/mv-sub_pc.webp") no-repeat center/cover;
    position: relative;
    &__page-ttl {
      display: block;
      width: 100%;
      font-family: v.$fontNoto;
      font-weight: bold;
      font-size: 48px;
      letter-spacing: 0.2em;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 20px #555;
      @include v.sm {
        font-size: 32px;
      }
      &.en {
        letter-spacing: 0.04em;
      }
    }
  }
  .main {
    &__inner {
      padding: 60px 40px 120px;
      @include v.sm {
        padding: 60px 10px 80px;
      }
    }
  }
}
.law,
.agreement,
.consul {
  .mv {
    background: url("../../images/webp/mv-law.webp") no-repeat center/cover;
    &__page-ttl {
      text-shadow: 0 0 20px #ccc;
    }
  }
}
.breadcrumbs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
  @include v.sm {
    padding: 10px;
  }
  &__container {
    border-bottom: 1px solid #efefef;
  }
  .home {
    margin: 0 20px 0 0;
    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.5s;
    @include v.sm {
      margin: 0 10px 0 0;
    }
    &:hover,
    &:focus {
      transition: opacity 0.5s;
      opacity: 0.7;
    }
  }
  .current-item {
    margin: 0 0 0 20px;
    opacity: 0.7;
    @include v.sm {
      margin: 0 0 0 10px;
    }
  }
}
