html {
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: #333;
}

.pc-only {
  display: block;
}
@media (max-width: 500px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 500px) {
  .sp-only {
    display: block;
  }
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 500px) {
  .inner {
    padding: 0 10px;
  }
}

.sec-ttl {
  font-weight: 700;
  font-size: 60px;
  font-style: italic;
  text-align: center;
}
@media (max-width: 500px) {
  .sec-ttl {
    font-size: 42px;
  }
}
.sec-ttl ruby[data-ruby] {
  position: relative;
}
.sec-ttl ruby[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  bottom: -18px;
  left: 40px;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-style: initial;
  text-align: center;
}
@media (max-width: 500px) {
  .sec-ttl ruby[data-ruby]::before {
    font-size: 14px;
  }
}

.service .mv,
.policy .mv,
.company .mv,
.profile .mv,
.contact .mv {
  background: url("../../images/webp/mv-sub_pc.webp") no-repeat center/cover;
}
.service .mv__page-ttl,
.policy .mv__page-ttl,
.company .mv__page-ttl,
.profile .mv__page-ttl,
.contact .mv__page-ttl {
  padding: 180px 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 20px #555;
}
@media (max-width: 500px) {
  .service .mv__page-ttl,
  .policy .mv__page-ttl,
  .company .mv__page-ttl,
  .profile .mv__page-ttl,
  .contact .mv__page-ttl {
    font-size: 32px;
  }
}
.service .main__inner,
.policy .main__inner,
.company .main__inner,
.profile .main__inner,
.contact .main__inner {
  padding: 60px 40px 120px;
}
@media (max-width: 500px) {
  .service .main__inner,
  .policy .main__inner,
  .company .main__inner,
  .profile .main__inner,
  .contact .main__inner {
    padding: 60px 10px 80px;
  }
}
.service .main .service .sec-ttl ruby[data-ruby]::before,
.policy .main .service .sec-ttl ruby[data-ruby]::before,
.company .main .service .sec-ttl ruby[data-ruby]::before,
.profile .main .service .sec-ttl ruby[data-ruby]::before,
.contact .main .service .sec-ttl ruby[data-ruby]::before {
  bottom: -18px;
  left: 50px;
}
@media (max-width: 500px) {
  .service .main .service .sec-ttl ruby[data-ruby]::before,
  .policy .main .service .sec-ttl ruby[data-ruby]::before,
  .company .main .service .sec-ttl ruby[data-ruby]::before,
  .profile .main .service .sec-ttl ruby[data-ruby]::before,
  .contact .main .service .sec-ttl ruby[data-ruby]::before {
    left: 36px;
  }
}
.service .main .service__list,
.policy .main .service__list,
.company .main .service__list,
.profile .main .service__list,
.contact .main .service__list {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0;
}
.service .main .service__item,
.policy .main .service__item,
.company .main .service__item,
.profile .main .service__item,
.contact .main .service__item {
  margin: 40px 0 0;
}
.service .main .service__item:first-child,
.policy .main .service__item:first-child,
.company .main .service__item:first-child,
.profile .main .service__item:first-child,
.contact .main .service__item:first-child {
  margin: 0;
}
.service .main .service__item:nth-child(even) .service__item__ttl-wrap,
.policy .main .service__item:nth-child(even) .service__item__ttl-wrap,
.company .main .service__item:nth-child(even) .service__item__ttl-wrap,
.profile .main .service__item:nth-child(even) .service__item__ttl-wrap,
.contact .main .service__item:nth-child(even) .service__item__ttl-wrap {
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .service .main .service__item:nth-child(even) .service__item__ttl-wrap,
  .policy .main .service__item:nth-child(even) .service__item__ttl-wrap,
  .company .main .service__item:nth-child(even) .service__item__ttl-wrap,
  .profile .main .service__item:nth-child(even) .service__item__ttl-wrap,
  .contact .main .service__item:nth-child(even) .service__item__ttl-wrap {
    justify-content: flex-end;
  }
}
.service .main .service__item:nth-child(even) .service__item__flex,
.policy .main .service__item:nth-child(even) .service__item__flex,
.company .main .service__item:nth-child(even) .service__item__flex,
.profile .main .service__item:nth-child(even) .service__item__flex,
.contact .main .service__item:nth-child(even) .service__item__flex {
  flex-direction: row;
}
@media (max-width: 500px) {
  .service .main .service__item:nth-child(even) .service__item__flex,
  .policy .main .service__item:nth-child(even) .service__item__flex,
  .company .main .service__item:nth-child(even) .service__item__flex,
  .profile .main .service__item:nth-child(even) .service__item__flex,
  .contact .main .service__item:nth-child(even) .service__item__flex {
    flex-direction: column-reverse;
  }
}
.service .main .service__item:nth-child(even) .service__item__flex-txt,
.policy .main .service__item:nth-child(even) .service__item__flex-txt,
.company .main .service__item:nth-child(even) .service__item__flex-txt,
.profile .main .service__item:nth-child(even) .service__item__flex-txt,
.contact .main .service__item:nth-child(even) .service__item__flex-txt {
  margin: 0 40px 0 0;
}
@media (max-width: 500px) {
  .service .main .service__item:nth-child(even) .service__item__flex-txt,
  .policy .main .service__item:nth-child(even) .service__item__flex-txt,
  .company .main .service__item:nth-child(even) .service__item__flex-txt,
  .profile .main .service__item:nth-child(even) .service__item__flex-txt,
  .contact .main .service__item:nth-child(even) .service__item__flex-txt {
    margin: 10px 0 0;
  }
}
.service .main .service__item__ttl-wrap,
.policy .main .service__item__ttl-wrap,
.company .main .service__item__ttl-wrap,
.profile .main .service__item__ttl-wrap,
.contact .main .service__item__ttl-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}
.service .main .service__item__ttl-wrap-ttl,
.policy .main .service__item__ttl-wrap-ttl,
.company .main .service__item__ttl-wrap-ttl,
.profile .main .service__item__ttl-wrap-ttl,
.contact .main .service__item__ttl-wrap-ttl {
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.1em;
}
@media (max-width: 500px) {
  .service .main .service__item__ttl-wrap-ttl,
  .policy .main .service__item__ttl-wrap-ttl,
  .company .main .service__item__ttl-wrap-ttl,
  .profile .main .service__item__ttl-wrap-ttl,
  .contact .main .service__item__ttl-wrap-ttl {
    margin: 10px 0 0;
    font-size: 24px;
    letter-spacing: 0.02em;
  }
}
.service .main .service__item__ttl-wrap-num,
.policy .main .service__item__ttl-wrap-num,
.company .main .service__item__ttl-wrap-num,
.profile .main .service__item__ttl-wrap-num,
.contact .main .service__item__ttl-wrap-num {
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 0.02em;
  font-style: italic;
}
@media (max-width: 500px) {
  .service .main .service__item__ttl-wrap-num,
  .policy .main .service__item__ttl-wrap-num,
  .company .main .service__item__ttl-wrap-num,
  .profile .main .service__item__ttl-wrap-num,
  .contact .main .service__item__ttl-wrap-num {
    margin: 0 5px 0 0;
    font-size: 42px;
  }
}
.service .main .service__item__flex,
.policy .main .service__item__flex,
.company .main .service__item__flex,
.profile .main .service__item__flex,
.contact .main .service__item__flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  margin: 20px 0 0;
}
@media (max-width: 500px) {
  .service .main .service__item__flex,
  .policy .main .service__item__flex,
  .company .main .service__item__flex,
  .profile .main .service__item__flex,
  .contact .main .service__item__flex {
    flex-direction: column-reverse;
  }
}
.service .main .service__item__flex-txt,
.policy .main .service__item__flex-txt,
.company .main .service__item__flex-txt,
.profile .main .service__item__flex-txt,
.contact .main .service__item__flex-txt {
  margin: 0 0 0 40px;
  width: 56%;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.1em;
}
@media (max-width: 500px) {
  .service .main .service__item__flex-txt,
  .policy .main .service__item__flex-txt,
  .company .main .service__item__flex-txt,
  .profile .main .service__item__flex-txt,
  .contact .main .service__item__flex-txt {
    margin: 10px 0 0;
    width: 100%;
  }
}
.service .main .service__item__flex-thumb,
.policy .main .service__item__flex-thumb,
.company .main .service__item__flex-thumb,
.profile .main .service__item__flex-thumb,
.contact .main .service__item__flex-thumb {
  width: 40%;
}
@media (max-width: 500px) {
  .service .main .service__item__flex-thumb,
  .policy .main .service__item__flex-thumb,
  .company .main .service__item__flex-thumb,
  .profile .main .service__item__flex-thumb,
  .contact .main .service__item__flex-thumb {
    width: 100%;
  }
}
.service .main .company .sec-ttl ruby[data-ruby]::before,
.policy .main .company .sec-ttl ruby[data-ruby]::before,
.company .main .company .sec-ttl ruby[data-ruby]::before,
.profile .main .company .sec-ttl ruby[data-ruby]::before,
.contact .main .company .sec-ttl ruby[data-ruby]::before {
  bottom: -24px;
  left: 80px;
}
@media (max-width: 500px) {
  .service .main .company .sec-ttl ruby[data-ruby]::before,
  .policy .main .company .sec-ttl ruby[data-ruby]::before,
  .company .main .company .sec-ttl ruby[data-ruby]::before,
  .profile .main .company .sec-ttl ruby[data-ruby]::before,
  .contact .main .company .sec-ttl ruby[data-ruby]::before {
    left: 55px;
  }
}
.service .main .company .company,
.policy .main .company .company,
.company .main .company .company,
.profile .main .company .company,
.contact .main .company .company {
  margin: 80px auto 0;
}
.service .main .company .company__message,
.policy .main .company .company__message,
.company .main .company .company__message,
.profile .main .company .company__message,
.contact .main .company .company__message {
  margin: 80px 0 0;
}
.service .main .company .company__message-ttl,
.policy .main .company .company__message-ttl,
.company .main .company .company__message-ttl,
.profile .main .company .company__message-ttl,
.contact .main .company .company__message-ttl {
  margin: 40px 0 0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: center;
}
@media (max-width: 500px) {
  .service .main .company .company__message-ttl,
  .policy .main .company .company__message-ttl,
  .company .main .company .company__message-ttl,
  .profile .main .company .company__message-ttl,
  .contact .main .company .company__message-ttl {
    line-height: 1.7;
  }
}
.service .main .company .company__message-desc,
.policy .main .company .company__message-desc,
.company .main .company .company__message-desc,
.profile .main .company .company__message-desc,
.contact .main .company .company__message-desc {
  margin: 40px 0 0;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.1em;
  text-align: center;
}
.service .main .company .company__message-strong,
.policy .main .company .company__message-strong,
.company .main .company .company__message-strong,
.profile .main .company .company__message-strong,
.contact .main .company .company__message-strong {
  font-weight: bold;
  font-size: 24px;
}
.service .main .company .company__detail,
.policy .main .company .company__detail,
.company .main .company .company__detail,
.profile .main .company .company__detail,
.contact .main .company .company__detail {
  margin: 80px auto 0;
  max-width: 850px;
}
.service .main .company .company__list,
.policy .main .company .company__list,
.company .main .company .company__list,
.profile .main .company .company__list,
.contact .main .company .company__list {
  margin: 30px 0 0;
  border-bottom: 1px solid #e7e7e7;
}
@media (max-width: 500px) {
  .service .main .company .company__list,
  .policy .main .company .company__list,
  .company .main .company .company__list,
  .profile .main .company .company__list,
  .contact .main .company .company__list {
    margin: 20px 0 0;
  }
}
.service .main .company .company__list-ttl,
.policy .main .company .company__list-ttl,
.company .main .company .company__list-ttl,
.profile .main .company .company__list-ttl,
.contact .main .company .company__list-ttl {
  display: inline-block;
  margin-left: 10px;
  width: 25%;
  font-size: 20px;
  letter-spacing: 0.1em;
}
@media (max-width: 500px) {
  .service .main .company .company__list-ttl,
  .policy .main .company .company__list-ttl,
  .company .main .company .company__list-ttl,
  .profile .main .company .company__list-ttl,
  .contact .main .company .company__list-ttl {
    width: 24%;
    font-size: 16px;
    vertical-align: top;
  }
}
.service .main .company .company__list-desc,
.policy .main .company .company__list-desc,
.company .main .company .company__list-desc,
.profile .main .company .company__list-desc,
.contact .main .company .company__list-desc {
  display: inline-block;
  width: 70%;
  font-size: 20px;
  letter-spacing: 0.1em;
}
@media (max-width: 500px) {
  .service .main .company .company__list-desc,
  .policy .main .company .company__list-desc,
  .company .main .company .company__list-desc,
  .profile .main .company .company__list-desc,
  .contact .main .company .company__list-desc {
    font-size: 16px;
    line-height: 1.4;
  }
}
.service .main .sec-ttl.contact ruby[data-ruby]::before,
.policy .main .sec-ttl.contact ruby[data-ruby]::before,
.company .main .sec-ttl.contact ruby[data-ruby]::before,
.profile .main .sec-ttl.contact ruby[data-ruby]::before,
.contact .main .sec-ttl.contact ruby[data-ruby]::before {
  bottom: -18px;
  left: 36px;
}
@media (max-width: 500px) {
  .service .main .sec-ttl.contact ruby[data-ruby]::before,
  .policy .main .sec-ttl.contact ruby[data-ruby]::before,
  .company .main .sec-ttl.contact ruby[data-ruby]::before,
  .profile .main .sec-ttl.contact ruby[data-ruby]::before,
  .contact .main .sec-ttl.contact ruby[data-ruby]::before {
    left: 24px;
  }
}
.service .main .wpcf7,
.policy .main .wpcf7,
.company .main .wpcf7,
.profile .main .wpcf7,
.contact .main .wpcf7 {
  margin: 80px auto 0;
  max-width: 980px;
}
.service .main .wpcf7-text, .service .main .wpcf7-email, .service .main .wpcf7-textarea,
.policy .main .wpcf7-text,
.policy .main .wpcf7-email,
.policy .main .wpcf7-textarea,
.company .main .wpcf7-text,
.company .main .wpcf7-email,
.company .main .wpcf7-textarea,
.profile .main .wpcf7-text,
.profile .main .wpcf7-email,
.profile .main .wpcf7-textarea,
.contact .main .wpcf7-text,
.contact .main .wpcf7-email,
.contact .main .wpcf7-textarea {
  border: 1px solid #e7e7e7;
}
.service .main .wpcf7 .required,
.service .main .wpcf7 .optional,
.policy .main .wpcf7 .required,
.policy .main .wpcf7 .optional,
.company .main .wpcf7 .required,
.company .main .wpcf7 .optional,
.profile .main .wpcf7 .required,
.profile .main .wpcf7 .optional,
.contact .main .wpcf7 .required,
.contact .main .wpcf7 .optional {
  margin: 0 6px;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.service .main .wpcf7 .required,
.policy .main .wpcf7 .required,
.company .main .wpcf7 .required,
.profile .main .wpcf7 .required,
.contact .main .wpcf7 .required {
  background: rgb(200, 47, 47);
}
.service .main .wpcf7 .optional,
.policy .main .wpcf7 .optional,
.company .main .wpcf7 .optional,
.profile .main .wpcf7 .optional,
.contact .main .wpcf7 .optional {
  background: #ccc;
}
.service .main .wpcf7 .name-wrap,
.policy .main .wpcf7 .name-wrap,
.company .main .wpcf7 .name-wrap,
.profile .main .wpcf7 .name-wrap,
.contact .main .wpcf7 .name-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .service .main .wpcf7 .name-wrap,
  .policy .main .wpcf7 .name-wrap,
  .company .main .wpcf7 .name-wrap,
  .profile .main .wpcf7 .name-wrap,
  .contact .main .wpcf7 .name-wrap {
    flex-direction: column;
  }
}
.service .main .wpcf7 .label-name,
.policy .main .wpcf7 .label-name,
.company .main .wpcf7 .label-name,
.profile .main .wpcf7 .label-name,
.contact .main .wpcf7 .label-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 500px) {
  .service .main .wpcf7 .label-name,
  .policy .main .wpcf7 .label-name,
  .company .main .wpcf7 .label-name,
  .profile .main .wpcf7 .label-name,
  .contact .main .wpcf7 .label-name {
    display: inline-block;
    margin: 10px 0 0;
  }
}
.service .main .wpcf7 .label-name-wrap,
.policy .main .wpcf7 .label-name-wrap,
.company .main .wpcf7 .label-name-wrap,
.profile .main .wpcf7 .label-name-wrap,
.contact .main .wpcf7 .label-name-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}
@media (max-width: 500px) {
  .service .main .wpcf7 .label-name-wrap,
  .policy .main .wpcf7 .label-name-wrap,
  .company .main .wpcf7 .label-name-wrap,
  .profile .main .wpcf7 .label-name-wrap,
  .contact .main .wpcf7 .label-name-wrap {
    display: flex;
    align-items: center;
  }
}
.service .main .wpcf7 .label-long,
.policy .main .wpcf7 .label-long,
.company .main .wpcf7 .label-long,
.profile .main .wpcf7 .label-long,
.contact .main .wpcf7 .label-long {
  margin: 20px 0 0;
  font-size: 20px;
  letter-spacing: 0.04em;
}
.service .main .wpcf7 .input-name,
.policy .main .wpcf7 .input-name,
.company .main .wpcf7 .input-name,
.profile .main .wpcf7 .input-name,
.contact .main .wpcf7 .input-name {
  padding: 20px;
  width: 300px;
  letter-spacing: 0.04em;
}
@media (max-width: 500px) {
  .service .main .wpcf7 .input-name,
  .policy .main .wpcf7 .input-name,
  .company .main .wpcf7 .input-name,
  .profile .main .wpcf7 .input-name,
  .contact .main .wpcf7 .input-name {
    margin: 10px 0 0;
    width: 100%;
  }
}
.service .main .wpcf7 .input-long,
.policy .main .wpcf7 .input-long,
.company .main .wpcf7 .input-long,
.profile .main .wpcf7 .input-long,
.contact .main .wpcf7 .input-long {
  margin: 10px 0 0 auto;
  padding: 20px;
  width: 100%;
}
.service .main .wpcf7 .input-wrap,
.policy .main .wpcf7 .input-wrap,
.company .main .wpcf7 .input-wrap,
.profile .main .wpcf7 .input-wrap,
.contact .main .wpcf7 .input-wrap {
  margin: 20px 0 0;
}
.service .main .wpcf7 .message-area,
.policy .main .wpcf7 .message-area,
.company .main .wpcf7 .message-area,
.profile .main .wpcf7 .message-area,
.contact .main .wpcf7 .message-area {
  margin: 10px 0 0 auto;
  width: 100%;
}
.service .main .wpcf7 .form__btn,
.policy .main .wpcf7 .form__btn,
.company .main .wpcf7 .form__btn,
.profile .main .wpcf7 .form__btn,
.contact .main .wpcf7 .form__btn {
  display: block;
  padding: 20px 0;
  margin: 40px auto 0;
  width: 320px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border: 1px solid #e7e7e7;
}

.pankuzu {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
}
@media (max-width: 500px) {
  .pankuzu {
    padding: 10px;
  }
}
.pankuzu__link {
  margin: 0 20px 0 0;
  text-decoration: underline;
  transition: 0.5s;
  opacity: 1;
}
.pankuzu__link:hover, .pankuzu__link:focus {
  transition: 0.5s;
  opacity: 0.7;
}
.pankuzu__arrow {
  margin: 0 20px 0 0;
}
.pankuzu__current {
  transition: 0.5s;
  opacity: 0.7;
}