@charset 'UTF-8';

$fs: 1441px;
@mixin fs {
  @media (min-width: ($fs)) {
    @content;
  }
}
$sp: 500px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

html {
  font-size: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Times New Roman", Times, serif;
  color: #333;
}
// .is-menuOpen {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100vh;
// }
.pc-only {
  display: block;
  @include sp {
    display: none;
  }
}
.sp-only {
  display: none;
  @include sp {
    display: block;
  }
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  @include sp {
    padding: 0 10px;
  }
}
.sec-ttl {
  font-weight: 700;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  @include sp {
    font-size: 42px;
  }
  ruby[data-ruby] {
    position: relative;
    &::before {
      content: attr(data-ruby);
      position: absolute;
      bottom: -18px;
      left: 40px;
      font-weight: normal;
      font-size: 20px;
      letter-spacing: 0.1em;
      font-style: initial;
      text-align: center;
      @include sp {
        font-size: 14px;
      }
    }
  }
}

.service,
.policy,
.company,
.profile,
.contact {
  .mv {
    background: url("../../images/webp/mv-sub_pc.webp") no-repeat center/cover;
    &__page-ttl {
      padding: 180px 0;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: bold;
      font-size: 48px;
      letter-spacing: 0.2em;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 20px #555;
      @include sp {
        font-size: 32px;
      }
    }
  }
  .main {
    &__inner {
      padding: 60px 40px 120px;
      @include sp {
        padding: 60px 10px 80px;
      }
    }
    // 事業内容ページ
    .service {
      .sec-ttl {
        ruby[data-ruby] {
          &::before {
            bottom: -18px;
            left: 50px;
            @include sp {
              left: 36px;
            }
          }
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        margin: 80px 0 0;
      }
      &__item {
        margin: 40px 0 0;
        &:first-child {
          margin: 0;
        }
        &:nth-child(even) {
          .service__item {
            &__ttl-wrap {
              justify-content: flex-start;
              @include sp {
                justify-content: flex-end;
              }
            }
            &__flex {
              flex-direction: row;
              @include sp {
                flex-direction: column-reverse;
              }
              &-txt {
                margin: 0 40px 0 0;
                @include sp {
                  margin: 10px 0 0;
                }
              }
            }
          }
        }
        &__ttl-wrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row-reverse;
          @include sp {
          }
          &-ttl {
            margin: 10px 0 0;
            font-weight: bold;
            font-size: 32px;
            letter-spacing: 0.1em;
            @include sp {
              margin: 10px 0 0;
              font-size: 24px;
              letter-spacing: 0.02em;
            }
          }
          &-num {
            margin: 0 10px 0 0;
            font-weight: bold;
            font-size: 60px;
            letter-spacing: 0.02em;
            font-style: italic;
            @include sp {
              margin: 0 5px 0 0;
              font-size: 42px;
            }
          }
        }
        &__flex {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row-reverse;
          margin: 20px 0 0;
          @include sp {
            flex-direction: column-reverse;
          }
          &-txt {
            margin: 0 0 0 40px;
            width: 56%;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.1em;
            @include sp {
              margin: 10px 0 0;
              width: 100%;
            }
          }
          &-thumb {
            width: 40%;
            @include sp {
              width: 100%;
            }
          }
        }
      }
    }
    // 会社概要ページ
    .company {
      .sec-ttl {
        ruby[data-ruby] {
          &::before {
            bottom: -24px;
            left: 80px;
            @include sp {
              left: 55px;
            }
          }
        }
      }
      .company {
        margin: 80px auto 0;
        &__message {
          margin: 80px 0 0;
          &-ttl {
            margin: 40px 0 0;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.1em;
            text-align: center;
            @include sp {
              line-height: 1.7;
            }
          }
          &-desc {
            margin: 40px 0 0;
            font-size: 20px;
            line-height: 2;
            letter-spacing: 0.1em;
            text-align: center;
          }
          &-strong {
            font-weight: bold;
            font-size: 24px;
          }
        }
        &__detail {
          margin: 80px auto 0;
          max-width: 850px;
        }
        &__list {
          margin: 30px 0 0;
          border-bottom: 1px solid #e7e7e7;
          @include sp {
            margin: 20px 0 0;
          }
          &-ttl {
            display: inline-block;
            margin-left: 10px;
            width: 25%;
            font-size: 20px;
            letter-spacing: 0.1em;
            @include sp {
              width: 24%;
              font-size: 16px;
              vertical-align: top;
            }
          }
          &-desc {
            display: inline-block;
            width: 70%;
            font-size: 20px;
            letter-spacing: 0.1em;
            @include sp {
              font-size: 16px;
              line-height: 1.4;
            }
          }
        }
      }
    }
    // contactページ
    .sec-ttl.contact {
      ruby[data-ruby] {
        &::before {
          bottom: -18px;
          left: 36px;
          @include sp {
            left: 24px;
          }
        }
      }
    }
    .wpcf7 {
      margin: 80px auto 0;
      max-width: 980px;
      &-text,
      &-email,
      &-textarea {
        border: 1px solid #e7e7e7;
      }
      .required,
      .optional {
        margin: 0 6px;
        padding: 8px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
      }
      .required {
        background: rgb(200, 47, 47);
      }
      .optional {
        background: #ccc;
      }
      .name-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include sp {
          flex-direction: column;
        }
      }
      .label {
        &-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          @include sp {
            display: inline-block;
            margin: 10px 0 0;
          }
          &-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;
            @include sp {
              display: flex;
              align-items: center;
            }
          }
        }
        &-long {
          margin: 20px 0 0;
          font-size: 20px;
          letter-spacing: 0.04em;
        }
      }
      .input {
        &-name {
          padding: 20px;
          width: 300px;
          letter-spacing: 0.04em;
          @include sp {
            margin: 10px 0 0;
            width: 100%;
          }
        }
        &-long {
          margin: 10px 0 0 auto;
          padding: 20px;
          width: 100%;
        }
        &-wrap {
          margin: 20px 0 0;
        }
      }
      .message-area {
        margin: 10px 0 0 auto;
        width: 100%;
      }
      .form__btn {
        display: block;
        padding: 20px 0;
        margin: 40px auto 0;
        width: 320px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        background: #333;
        color: #fff;
        border: 1px solid #e7e7e7;
      }
    }
  }
}
.pankuzu {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  @include sp {
    padding: 10px;
  }
  &__link {
    margin: 0 20px 0 0;
    text-decoration: underline;
    transition: 0.5s;
    opacity: 1;
    &:hover,
    &:focus {
      transition: 0.5s;
      opacity: 0.7;
    }
  }
  &__arrow {
    margin: 0 20px 0 0;
  }
  &__current {
    transition: 0.5s;
    opacity: 0.7;
  }
}
