@use "./base/variable" as v;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @include v.sm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  &.is-active {
    background: #333;
    transition: 0.5s;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    @include v.sm {
      padding: 10px 0;
    }
  }
  &__logo {
    width: 200px;
    opacity: 1;
    transition: 0.5s;
    @include v.sm {
      margin: 0 auto;
    }
    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
    &-sp {
      display: none;
      @include v.sm {
        display: block;
        margin: 0 auto;
        width: 150px;
      }
    }
  }
  .g-nav {
    width: 460px;
    @include v.sm {
      padding: 100px 0;
      background: #fff;
      z-index: 25;
    }
    &__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 -100px 0 0;
      @include v.sm {
        flex-direction: column;
        margin: 60px 0 0;
      }
    }
    &__item {
      margin: 0 14px 0 0;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: #fff;
      opacity: 1;
      transition: 0.5s;
      @include v.sm {
        margin: 30px 0 0;
        font-size: 24px;
        color: #333;
      }
      &:hover {
        opacity: 0.7;
        transition: 0.5s;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &__logo {
      display: none;
      @include v.sm {
        display: block;
        margin: 0 auto;
        width: 180px;
      }
    }
    &__btn {
      display: none;
      padding: 16px 0;
      width: 240px;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.1em;
      text-align: center;
      background: #333;
      color: #fff;
      opacity: 1;
      transition: 0.5s;
      @include v.sm {
        display: block;
        margin: 80px auto 0;
      }
      &:hover {
        opacity: 0.7;
        transition: 0.5s;
      }
    }
  }
  &__btn {
    padding: 16px 0;
    width: 240px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    background: #333;
    color: #fff;
    opacity: 1;
    transition: 0.5s;
    @include v.sm {
      margin: 40px auto 0;
    }
    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }
  #js-nav {
    width: 460px;
    @include v.sm {
      position: absolute;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      background: #fff;
      transition: all 0.5s;
      z-index: 20;
    }
    &.is-active {
      right: 0;
      overflow-y: hidden;
      transition: all 0.5s;
    }
  }
  #js-headerBtn {
    &.is-active {
      background: #fff;
      color: #333;
    }
  }
  #js-btn {
    display: none;
    span {
      position: absolute;
      display: inline-block;
      width: 26px;
      height: 3px;
      background: #fff;
      transition: all 0.5s;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 20px;
        opacity: 1;
      }
      &:nth-child(3) {
        top: 30px;
      }
    }
    @include v.sm {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      z-index: 30;
    }
  }
  #js-btn.is-active {
    span {
      background: #333;
      transition: all 0.5s;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 20px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 20px;
        transform: rotate(-45deg);
      }
    }
  }
}
