@use "./base/variable" as v;
.mv {
  height: 100svh;
  background: url(../images/webp/mv_pc.webp) no-repeat center/cover;
  @include v.sm {
    background: url(../images/webp/mv_pc.webp) no-repeat 85% 100% / cover;
  }
  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: inherit;
    height: 100%;
  }
  &__hero {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #fff;
    text-shadow: 3px 3px 10px #666;
    @include v.sm {
      width: 100%;
      font-size: 2.4rem;
      letter-spacing: 0.04em;
    }
    &-thin {
      font-weight: 100;
      @include v.sm {
        vertical-align: top;
      }
      &02 {
        @include v.sm {
          vertical-align: bottom;
        }
      }
    }
    &-small {
      font-size: 48px;
      @include v.sm {
        font-size: 2.2rem;
      }
    }
    &-strong {
      font-size: 80px;
      @include v.sm {
        font-size: 4rem;
      }
    }
    &-foot {
      margin: 0 0 0 -40px;
      @include v.sm {
        margin: 0 0 0 -20px;
      }
    }
    &-spacing {
      margin: 0 0 0 -40px;
      @include v.sm {
        margin: 0 0 0 -10px;
      }
    }
  }
}
