.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
@media not screen and (min-width: 576px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
.header.is-active {
  background: #333;
  transition: 0.5s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
@media not screen and (min-width: 576px) {
  .header__inner {
    padding: 10px 0;
  }
}
.header__logo {
  width: 200px;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header__logo {
    margin: 0 auto;
  }
}
.header__logo:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header__logo-sp {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header__logo-sp {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
}
.header .g-nav {
  margin: 0 40px 0 auto;
  width: 460px;
}
@media not screen and (min-width: 576px) {
  .header .g-nav {
    padding: 100px 0;
    background: #fff;
    z-index: 25;
  }
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__list {
    flex-direction: column;
    margin: 60px 0 0;
  }
}
.header .g-nav__item {
  margin: 0 14px 0 0;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  font-style: italic;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__item {
    margin: 30px 0 0;
    font-size: 24px;
    color: #333;
  }
}
.header .g-nav__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header .g-nav__item:last-child {
  margin-right: 0;
}
.header .g-nav__logo {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__logo {
    display: block;
    margin: 0 auto;
    width: 180px;
  }
}
.header .g-nav__btn {
  display: none;
  padding: 16px 0;
  width: 240px;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  font-style: italic;
  text-align: center;
  background: #333;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__btn {
    display: block;
    margin: 80px auto 0;
  }
}
.header .g-nav__btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header__btn {
  padding: 16px 0;
  width: 240px;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  font-style: italic;
  text-align: center;
  background: #333;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header__btn {
    margin: 40px auto 0;
  }
}
.header__btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header #js-nav {
  width: 460px;
}
@media not screen and (min-width: 576px) {
  .header #js-nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transition: all 0.5s;
    z-index: 20;
  }
}
.header #js-nav.is-active {
  right: 0;
  overflow-y: hidden;
  transition: all 0.5s;
}
.header #js-headerBtn.is-active {
  background: #fff;
  color: #333;
}
.header #js-btn {
  display: none;
}
.header #js-btn span {
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 3px;
  background: #fff;
  transition: all 0.5s;
}
.header #js-btn span:nth-child(1) {
  top: 10px;
}
.header #js-btn span:nth-child(2) {
  top: 20px;
  opacity: 1;
}
.header #js-btn span:nth-child(3) {
  top: 30px;
}
@media not screen and (min-width: 576px) {
  .header #js-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 30;
  }
}
.header #js-btn.is-active span {
  background: #333;
  transition: all 0.5s;
}
.header #js-btn.is-active span:nth-child(1) {
  transform: rotate(45deg);
  top: 20px;
}
.header #js-btn.is-active span:nth-child(2) {
  opacity: 0;
}
.header #js-btn.is-active span:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}

.breadcrumbs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 1.4rem;
}
@media not screen and (min-width: 576px) {
  .breadcrumbs {
    padding: 10px;
  }
}
.breadcrumbs__container {
  border-bottom: 1px solid #efefef;
}
.breadcrumbs .home {
  margin: 0 20px 0 0;
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.5s;
}
@media not screen and (min-width: 576px) {
  .breadcrumbs .home {
    margin: 0 10px 0 0;
  }
}
.breadcrumbs .home:hover, .breadcrumbs .home:focus {
  transition: opacity 0.5s;
  opacity: 0.7;
}
.breadcrumbs .current-item {
  margin: 0 0 0 20px;
  opacity: 0.7;
}
@media not screen and (min-width: 576px) {
  .breadcrumbs .current-item {
    margin: 0 0 0 10px;
  }
}

.footer {
  background: #333;
}
.footer__inner {
  padding: 40px 40px 10px;
}
@media not screen and (min-width: 576px) {
  .footer__inner {
    padding: 40px 10px 10px;
  }
}
.footer__logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  opacity: 1;
  transition: 0.5s;
}
.footer__logo:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}
.footer__item {
  margin: 0 10px 0 0;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .footer__item {
    margin: 0 5px 0 0;
  }
}
.footer__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.footer__item:last-child {
  margin: 0;
}
.footer__law {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0;
}
.footer__law__item {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .footer__law__item {
    margin: 0 5px 0 0;
  }
}
.footer__law__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.footer__law__item:not(:last-child) {
  margin: 0 10px 0 0;
}
.footer__copy {
  margin: 10px 0 0;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
}