.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
@media not screen and (min-width: 576px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
.header.is-active {
  background: #333;
  opacity: 1;
  transition: 0.5s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
@media not screen and (min-width: 576px) {
  .header__inner {
    padding: 10px 0;
  }
}
.header__logo {
  width: 200px;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header__logo {
    margin: 0 auto;
  }
}
.header__logo:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header__logo-sp {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header__logo-sp {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
}
.header .g-nav {
  margin: 0 40px 0 auto;
  width: 460px;
}
@media not screen and (min-width: 576px) {
  .header .g-nav {
    padding: 100px 0;
    background: #fff;
    z-index: 25;
  }
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__list {
    flex-direction: column;
    margin: 60px 0 0;
  }
}
.header .g-nav__item {
  margin: 0 14px 0 0;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.04em;
  font-style: italic;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__item {
    margin: 30px 0 0;
    font-size: 24px;
    color: #333;
  }
}
.header .g-nav__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header .g-nav__item:last-child {
  margin-right: 0;
}
.header .g-nav__logo {
  display: none;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__logo {
    display: block;
    margin: 0 auto;
    width: 180px;
  }
}
.header .g-nav__btn {
  display: none;
  padding: 12px 0;
  width: 240px;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.04em;
  font-style: italic;
  text-align: center;
  background: #333;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header .g-nav__btn {
    display: block;
    margin: 80px auto 0;
  }
}
.header .g-nav__btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header__btn {
  padding: 12px 0;
  width: 240px;
  font-weight: bold;
  font-size: 2.2rem;
  letter-spacing: 0.04em;
  font-style: italic;
  text-align: center;
  background: #333;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .header__btn {
    margin: 40px auto 0;
  }
}
.header__btn:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.header #js-nav {
  width: 460px;
}
@media not screen and (min-width: 576px) {
  .header #js-nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transition: all 0.5s;
    z-index: 20;
  }
}
.header #js-nav.is-active {
  right: 0;
  overflow-y: hidden;
  transition: all 0.5s;
}
.header #js-headerBtn.is-active {
  background: #fff;
  color: #333;
}
.header #js-btn {
  display: none;
}
.header #js-btn span {
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 3px;
  background: #fff;
  transition: all 0.5s;
}
.header #js-btn span:nth-child(1) {
  top: 10px;
}
.header #js-btn span:nth-child(2) {
  top: 20px;
  opacity: 1;
}
.header #js-btn span:nth-child(3) {
  top: 30px;
}
@media not screen and (min-width: 576px) {
  .header #js-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 30;
  }
}
.header #js-btn.is-active span {
  background: #333;
  transition: all 0.5s;
}
.header #js-btn.is-active span:nth-child(1) {
  transform: rotate(45deg);
  top: 20px;
}
.header #js-btn.is-active span:nth-child(2) {
  opacity: 0;
}
.header #js-btn.is-active span:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}

.mv {
  height: 100svh;
  background: url(../images/webp/mv_pc.webp) no-repeat center/cover;
}
@media not screen and (min-width: 576px) {
  .mv {
    background: url(../images/webp/mv_pc.webp) no-repeat 85% 100%/cover;
  }
}
.mv__inner {
  max-width: inherit;
  height: 100%;
  position: relative;
}
.mv__hero {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  text-shadow: 0 0 20px #333;
}
@media not screen and (min-width: 576px) {
  .mv__hero {
    width: 100%;
    font-size: 28px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.mv__hero-thin {
  font-weight: 100;
}
@media not screen and (min-width: 576px) {
  .mv__hero-thin {
    vertical-align: top;
  }
}
@media not screen and (min-width: 576px) {
  .mv__hero-thin02 {
    vertical-align: bottom;
  }
}
.mv__hero-small {
  font-size: 48px;
}
@media not screen and (min-width: 576px) {
  .mv__hero-small {
    font-size: 28px;
  }
}
.mv__hero-strong {
  font-size: 80px;
}
@media not screen and (min-width: 576px) {
  .mv__hero-strong {
    font-size: 48px;
  }
}
.mv__hero-foot {
  margin: 0 0 0 -40px;
}
@media not screen and (min-width: 576px) {
  .mv__hero-foot {
    margin: 0 0 0 -20px;
  }
}
.mv__hero-spacing {
  margin: 0 0 0 -40px;
}
@media not screen and (min-width: 576px) {
  .mv__hero-spacing {
    margin: 0 0 0 -10px;
  }
}

.about {
  overflow: hidden;
  background: #fafafa;
}
.about__inner {
  padding: 80px 40px 160px;
}
@media not screen and (min-width: 576px) {
  .about__inner {
    padding: 80px 10px;
  }
}
.about__head {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin: 40px 0 0;
}
.about__head__ttl {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .about__head__ttl {
    font-size: 30px;
    line-height: 1.8;
  }
}
.about__head__desc {
  margin: 20px auto 0;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .about__head__desc {
    font-size: 18px;
  }
}
.about__head-en .about__head__ttl {
  font-size: 26px;
}
.about__head-en .about__head__desc {
  font-size: 22px;
  line-height: 1.4;
}
.about__list {
  display: flex;
  flex-direction: column;
  margin: 120px 0 0;
}
@media not screen and (min-width: 576px) {
  .about__list {
    margin: 80px 0 0;
  }
}
.about__item {
  display: flex;
  justify-content: flex-start;
}
@media not screen and (min-width: 576px) {
  .about__item {
    flex-direction: column;
  }
}
.about__item:nth-child(even) {
  flex-direction: row-reverse;
  margin: 120px 0 0;
}
@media not screen and (min-width: 576px) {
  .about__item:nth-child(even) {
    flex-direction: column;
  }
}
.about__item:nth-child(even) .about__item__txt {
  margin: 140px -80px 0 0;
}
@media not screen and (min-width: 576px) {
  .about__item:nth-child(even) .about__item__txt {
    margin: 20px 0 0 0;
  }
}
.about__item-thumb {
  width: 600px;
}
@media not screen and (min-width: 576px) {
  .about__item-thumb {
    width: 100%;
  }
}
.about__item__txt {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  margin: 140px 0 0 -80px;
  padding: 24px;
  width: 680px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: #333;
  z-index: 0;
  position: relative;
}
@media not screen and (min-width: 576px) {
  .about__item__txt {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
.about__item__txt::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.7;
  z-index: -1;
}
@media not screen and (min-width: 576px) {
  .about .sec-ttl ruby[data-ruby]::before {
    bottom: -18px;
    left: 30px;
  }
}

.service {
  background: #fff;
}
@media not screen and (min-width: 576px) {
  .service {
    padding-bottom: 0;
  }
}
.service.front {
  padding-bottom: 80px;
}
.service__inner {
  padding: 80px 40px;
}
.service .swiper {
  z-index: 0 !important;
}
.service .swiper-wrapper {
  margin: -40px 0 0;
  padding: 40px 0;
}
.service .swiper-slide {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 700px;
  box-shadow: 0 0 20px #e7e7e7;
}
@media not screen and (min-width: 576px) {
  .service .swiper-slide {
    min-height: 800px;
  }
}
.service .swiper__txt {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 20px;
}
.service .swiper__txt-ttl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.08em;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .service .swiper__txt-ttl {
    font-size: 22px;
  }
}
.service .swiper__txt__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  margin: 10px 0 0;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-align: left;
}
@media not screen and (min-width: 576px) {
  .service .swiper__txt__desc {
    font-size: 18px;
  }
}
.service .swiper__txt-link {
  margin: 30px 10px 0 0;
  opacity: 1;
  transition: opacity 0.5s;
}
.service .swiper__txt-link:hover, .service .swiper__txt-link:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.service .swiper__thumb img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.service .swiper-button-prev, .service .swiper-button-next {
  width: 50px;
  height: 50px;
}
.service .swiper-button-prev:after, .service .swiper-button-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
  opacity: 0.7;
}
@media not screen and (min-width: 576px) {
  .service .swiper-button-prev {
    top: 30%;
  }
}
.service .swiper-button-prev::after {
  background: url(../images/arrow_prev.svg);
}
@media not screen and (min-width: 576px) {
  .service .swiper-button-next {
    top: 30%;
  }
}
.service .swiper-button-next::after {
  background: url(../images/arrow_next.svg);
}
.service .sec-ttl ruby[data-ruby]::before {
  bottom: -18px;
  left: 50px;
}
@media not screen and (min-width: 576px) {
  .service .sec-ttl ruby[data-ruby]::before {
    left: 36px;
  }
}

.works {
  overflow-x: hidden;
  background: #fafafa;
}
.works__inner {
  padding: 80px 40px;
}
@media not screen and (min-width: 576px) {
  .works__inner {
    padding: 80px 10px;
  }
}
.works__list {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0;
}
.works__item {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
@media not screen and (min-width: 576px) {
  .works__item {
    flex-direction: column-reverse;
  }
}
.works__item:nth-child(even) {
  flex-direction: row;
  margin: 80px 0 0;
}
@media not screen and (min-width: 576px) {
  .works__item:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.works__item:nth-child(even) .works__txt {
  justify-content: center;
  margin: 0 40px 0 0;
}
.works__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 40px;
  padding: 20px 0;
  width: 650px;
}
@media not screen and (min-width: 576px) {
  .works__txt {
    margin: 30px 0 0 0;
    width: 100%;
  }
}
.works__txt-ttl {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
}
.works__txt__desc {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.1em;
}
.works__thumb {
  width: 450px;
}
@media not screen and (min-width: 576px) {
  .works__thumb {
    width: 100%;
  }
}
.works .sec-ttl ruby[data-ruby]::before {
  bottom: -18px;
  left: 36px;
}
@media not screen and (min-width: 576px) {
  .works .sec-ttl ruby[data-ruby]::before {
    left: 26px;
  }
}

.footer {
  background: #333;
}
.footer__inner {
  padding: 40px 40px 10px;
}
@media not screen and (min-width: 576px) {
  .footer__inner {
    padding: 40px 10px 10px;
  }
}
.footer__logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  opacity: 1;
  transition: 0.5s;
}
.footer__logo:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}
.footer__item {
  margin: 0 10px 0 0;
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  font-style: italic;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .footer__item {
    margin: 0 5px 0 0;
  }
}
.footer__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.footer__item:last-child {
  margin: 0;
}
.footer__law {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0;
}
.footer__law__item {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: 0.5s;
}
@media not screen and (min-width: 576px) {
  .footer__law__item {
    margin: 0 5px 0 0;
  }
}
.footer__law__item:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.footer__law__item:not(:last-child) {
  margin: 0 10px 0 0;
}
.footer__copy {
  margin: 10px 0 0;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}